<!DOCTYPE html>
<html lang="en">

<head></head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
<body style="font-size:20px; padding:50px;">
  <form method="POST" action="/logout">
      <button type="submit">Logout</button>
  </form>

  <h3> Welcome back <%= user.email %> <h3>

      <% for(let url in urls){ %>
        <li>
        <%= urls[url].shortURL %>  <%= urls[url].longURL %>
        <form method="POST" action="/urls/<%=urls[url].shortURL%>/delete">
            <button type="submit">Delete</button>
        </form>


        <a href="/urls/<%=urls[url].shortURL%>/">Edit</a>

        <%}%>
      </li>
</body>


<a href="/urls/new">Create new URL</a>
</html>
